/doc/
/target/
/.idea/
/src/.idea/
/src/main/java/test/LeetCode.java
/src/main/java/test/B.java
/src/main/java/test/A.java
/src/main/resources/application.yml
/src/main/java/test/itf1.java
/src/main/java/test/
